<h2>Movies</h2>

<div>
  <input #searchPhrase />
  <button (click)="search(searchPhrase.value)">search</button>
</div>

<div>
  <div *ngFor="let selectedFilter of selectedFilters; let i=index">
      <app-my-select
        [items]="filterKindSelectItems"
        [selectedItem]="getFilterKindSelectItem(selectedFilter)"
        (itemSelected)="filterKindChanged($event, selectedFilter)">
      </app-my-select>
      <app-my-select
        [items]="filterSelectItems$ | async"
        [selectedItem]="getFilterSelectItem(selectedFilter)"
        (itemSelected)="filterChanged($event, i, selectedFilter)">
      </app-my-select>
      <app-my-select
        [items]="selectedFiltersValues$[i] | async">
      </app-my-select>
       {{selectedFilter.name}}
       {{selectedFilter.filterKind}}
       <button (click)="removeFilter(selectedFilter)">Remove</button>
  </div>
  <button [hidden]="hasFilterToBeAdded() === false" (click)="addFilter()">Add filter</button>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Country</th>
    <th>Rating</th>
    <th>Year</th>
  </tr>
  <tr *ngFor="let movie of movies">
    <td>{{movie.title}}</td>
    <td>{{movie.country}}</td>
    <td>{{movie.rating}}</td>
    <td>{{movie.year}}</td>
  </tr>
</table>